.env
.DS_Store
.env.backup
app/uploads
app/env
app/__pycache__
app/migrations
app/.env
app/*.bak
app/.idea/**/workspace.xml
app/.idea/**/tasks.xml
app/.idea/dictionaries
app/.idea/**/dataSources/
app/.idea/**/dataSources.ids
app/.idea/**/dataSources.xml
app/.idea/**/dataSources.local.xml
app/.idea/**/sqlDataSources.xml
app/.idea/**/dynamic.xml
app/.idea/**/uiDesigner.xml
app/.idea/**/gradle.xml
app/.idea/**/libraries
app/*.iws /out/
app/*.py[cod]
app/*$py.class
app/.Python build/
app/develop-eggs/
app/dist/
app/media/
app/downloads/
app/eggs/
app/.eggs/
app/lib/
app/lib64/
app/parts/
app/sdist/
app/var/
app/wheels/
app/*.egg-info/
app/.installed.cfg
app/*.egg
app/*.manifest
app/*.spec
app/pip-log.txt
app/pip-delete-this-directory.txt
app/htmlcov/
app/.tox/
app/.coverage
app/.coverage.*
app/.cache
app/.pytest_cache/
app/nosetests.xml
app/coverage.xml
app/*.cover
app/.hypothesis/
app/.ipynb_checkpoints
app/.python-version
app/celerybeat-schedule.*
app/*.sage.py
app/.env
app/.venv
app/env/
app/venv/
app/ENV/
app/env.bak/
app/venv.bak/
app/site
app/.mypy_cache/
app/*.tmlanguage.cache
app/*.tmPreferences.cache
app/*.stTheme.cache
app/*.sublime-workspace
app/*.sublime-project
app/sftp-config.json
app/Control.last-run
app/Control.ca-list
app/Control.ca-bundle
app/Control.system-ca-bundle
app/GitHub.sublime-settings
app/.vscode/*
app/!.vscode/settings.json
app/!.vscode/tasks.json
app/!.vscode/launch.json
app/!.vscode/extensions.json
app/.history
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/__pycache__/**
db.sqlite3
**/.env
media/
venv
.vscode
.qodo
globalLogs.log